<!DOCTYPE html>
<html>
 <center>
 <head>
   <link rel="stylesheet" type="text/css" href="/stylesheet.css">
   <title>Battle</title>
   <meta charset="utf-8">
 </head>

<h3><%=@player_1_name%> vs. <%= @player_2_name %></h3><br>

<%= @player_2_name %>: 60HP
</center>
